.nav-bar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    font-weight: 520;
}

.right-corner {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 1.75%;
    font-weight: 520;
}

li {
    display: inline-block;
    padding: 1%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#google-img {
    margin-top: 10%;
    margin-left: 38%;
    height: 15%;
    width: 20%;
}

.search-elements-container {
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: repeat(19, 1fr);
    gap: 1rem;
    margin-top: 1.5%;
    margin-left: 23%;
    margin-right: 20%;
}

#search-bar {
    grid-column: 1 / 19;
    grid-row: 1 / 1;
    border-radius: 25px;
    border-style: hidden;
    outline: 1px solid lightgrey;
    height: 45px;
    font-size: 20px;
    padding-left: 3%;
    padding-right:3%;
}


#search {
    grid-column: 5 / 9;
    grid-row: 2 / 2;
    border-radius: 5px;
    border-color: white;
    font-size: 16px;
}

#lucky {
    grid-column: 9 / 15;
    grid-row: 2 / 2;
    border-radius: 5px;
    border-color: white;
    font-size: 16px;
}

#search:hover {
    opacity: 0.6;
}

#lucky:hover {
    opacity: 0.6;
}

.vertical-form-input {
    display: flex;
    margin: 1%;
}

.form {
    margin-top: 3%;
}

#subtitle {
    margin: 1%;
    color:black;
    font-size: 16px;
    font-weight: 550;
}

.pretext {
    width: 15%;
}

.advance-form {
    width: 65%;
}

#blue-submit {
    position: absolute;
    right: 20%;
    height: 30px;
    width: auto;
    margin-top: 1.5%;
    font-size: 12px;
    background-color: rgb(11, 125, 232);
    color: white;
    border: 0;
    padding-right: 1.5%;
    padding-left: 1.5%;
    border-radius: 5px;
    
}

#advanced-google-icon {
    width: 6%;
    height: auto;
    padding-left: 1%;
    position: relative;
    bottom: 40px;
    margin: 0;
}

.red-header {
    color: rgba(212, 14, 14, 0.918);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 2%;
    border-bottom: 1px solid lightgrey;
}